
.nameInput {
  margin: 20px auto;
  border-radius: 4px;
  border: 2px solid#9952e0;
  padding: 10px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #003679;
  color: white;
  text-align: center;

  &::placeholder {
    background-color: #003679;
    color: grey;
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 3pt 2pt #9952e0;
  }
}
