.gameOver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameOver__image-wrapper {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.gameOver__image {
    width: 100%;
    border-radius: 8px;
}

.gameOver__text {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0;
}

@media only screen and (max-width: 800px) {
    
    .gameOver__text {
        font-size: 18px;
        margin: 20px 0;
    }
  }