.game__heading {
  display: table;
  margin: 3vh auto;
  font-size: 48px;
  background: linear-gradient(
    330deg,
    #e05252 0%,
    #99e052 25%,
    #52e0e0 50%,
    #9952e0 75%,
    #e05252 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game__text {
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
}

.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1100px) {
  .game__heading {
    font-size: 36px;
  }
  .game__text {
    font-size: 14px;
  }
}

@media only screen and (max-width: 800px) {
  .game__heading {
    font-size: 24px;
  }
  .game__text {
    font-size: 14px;
  }
}
