.display {
    border: 2px solid #99e052;
    border-radius: 4px;
    padding: 5px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;

    & p {
        margin: 5px 0;
    }
}

.display__text {
    font-weight: 500;
}

.display__score {
    font-size: 24px;
    font-weight: 700;
}